<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
lang="es">
<body>
	<aside th:fragment="aside">
		<nav class="nav flex-column bg-dark p-2 text-center rounded">
			<div>
				<img>
				<a class="nav-link active text-white my-2" aria-current="page" href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a>
			</div>
			<div>
				<img>
				<a class="nav-link text-white my-2" href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Académico</a> 
			</div>	
			<div>
				<img>
				<a class="nav-link text-white my-2" href="https://www.fi.unju.edu.ar/investigacion-noticias.html">Investigación</a>
			</div>
			<div>
				<img>
				<a class="nav-link text-white my-2" href="https://www.fi.unju.edu.ar/component/search/?searchword=laboratori&searchphrase=all&Itemid=288">Laboratorios</a>
			</div>			
		</nav>
	</aside>
</body>
</html>