<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<aside th:fragment="aside">
		<div class="d-flex justify-content-center align-items-center">
			<div class="card"
				style="width: 18rem; box-shadow: 0 16px 26px rgb(108, 108, 108);">
				<a
					th:href="@{https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html}"
					target="_blank"> <img th:src="@{/images/calendario.png}"
					class="card-img-top" alt="calendario academico"
					style="padding: 18px;">
				</a>
				<div class="card-body">
					<p class="card-text">Conoce el Calendario Académico que Tenemos
						este Año Lectivo 2024.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="d-flex justify-content-center align-items-center">
			<div class="card"
				style="width: 18rem; box-shadow: 0 16px 26px rgb(108, 108, 108);">
				<a th:href="@{https://virtual.unju.edu.ar/bibliotecas/}"
					target="_blank"> <img th:src="@{/images/biblioteca.png}"
					class="card-img-top" alt="biblioteca" style="padding: 5px;">
				</a>
				<div class="card-body">
					<p class="card-text">Acceso a la biblioteca virtual, solicitud
						de libros solo con tu Libreta Universitaria.</p>
				</div>
			</div>
		</div>
	</aside>
</body>

</html>