<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">

<head>
    <title>Título de tu página</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
</head>

<body>
    <footer class="container-fluid p-5 bg-dark text-white">
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4">
                <h5>Información</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a th:href="@{/}" class="nav-link p-0 text-white">Inicio</a></li>
                    <li class="nav-item mb-2"><a th:href="@{/principal#acerca-de}" class="nav-link p-0 text-white">Sobre Nosotros</a></li>
                    <li class="nav-item mb-2"><a th:href="@{/principal#carreras-pregrado}" class="nav-link p-0 text-white">Carreras</a></li>
                    <li class="nav-item mb-2"><a th:href="@{/principal#noticias}" class="nav-link p-0 text-white">Noticias</a></li>
                    <li class="nav-item mb-2"><a href="mailto:info@fi.unju.edu.ar" class="nav-link p-0 text-white">Contacto</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 mb-4">
                <h5>Información de Contacto</h5>
                <address>
                    Ítalo Palanca Nº 10, S. S. de Jujuy, Jujuy, Argentina<br>
                    <a href="tel:+543884221576" class="text-white">388-422-1576</a><br>
                    <a href="mailto:info@fi.unju.edu.ar" class="text-white">info@fi.unju.edu.ar</a>
                </address>
            </div>

            <div class="col-md-4 col-lg-3 mb-4">
                <ul class="list-unstyled d-flex justify-content-center">
                    <li class="me-3"><a href="#" class="text-white" aria-label="Instagram"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white" aria-label="Facebook"><i class="fab fa-facebook fa-lg"></i></a></li>
                    <li class="me-3"><a href="#" class="text-white" aria-label="YouTube"><i class="fab fa-youtube fa-lg"></i></a></li>
                    <li><a href="#" class="text-white" aria-label="LinkedIn"><i class="fab fa-linkedin fa-lg"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 mb-4">
                <a class="navbar-brand" data-th:href="#"> <img
                    th:src="@{/images/fi.png}"
                    alt="Logo de la Facultad de Ciencias Agrarias" height="80"
                    class="d-inline-block align-text-top me-2">
                </a>
                <div>
                    <h2 class="display-5">Facultad de Ingeniería</h2>
                    <p class="small">Cada desafío es una oportunidad de aprender y crecer</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 py-4 my-4 border-top text-center">
                <p class="mb-0">&copy; 2024 Facultad de Ingeniería. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>