<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
lang="es">
<body>
	<footer th:fragment="footer" class="bg-dark d-flex justify-content-evenly align-items-center py-5">
		<div class=" text-align-center">
			<h3 class="text-white">Datos de Interes</h3>
			<ul class="text-white">
				<li>DIRECCION: Ítalo Palanca Nº 10</li>
				<li>LOCALIDAD: San Salvador de Jujuy. Jujuy - Argentina</li>
				<li>CONTACTO: info@fi.unju.edu.ar</li>
				<li>TELÉFONO: 388-422-1576</li>
				<li>HORARIO: 14:30 a 19:30 hs</li>
			</ul>
		</div>
		<div class="">
			<img src="/images/logotipo.png"
				alt="Logotipo de la Facultad de Ingeniería - UNJU" class="img-fluid"
				style="max-height: 200px;">
		</div>
		<div class=" text-align-center">
			<h3 class="text-white">Redes Sociales</h3>
			<ul class="text-white">
				<li><a>Instagram</a></li>
				<li><a>Facebook</a></li>
				<li><a>Youtube</a></li>
				<li><a>Linkedin</a></li>
			</ul>
		</div>
	</footer>
</body>
</html>