<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" th:href="@{/images/fi.png}" />
<title data-th-text="${titulo}">Facultad de Ciencias Agrarias</title>
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
<link rel="stylesheet"
	data-th-href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css}" />
</head>
<body>
	<header class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="header">
		<div class="container">
			<a class="navbar-brand d-flex align-items-center"
				data-th-href="@{/inicio}"> <img th:src="@{/images/fi.png}"
				alt="Logotipo" width="100" height="auto" class="me-2">
				<div>
					<h1 class="mb-0 display-6">Facultad de Ingeniería<br> UNJu </h1>
					<p class="small mb-0 text-white">"Cada desafío es una
						oportunidad de aprender y crecer"</p>
				</div>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/inicio}"><i
							class="fas fa-home me-1"></i> Inicio</a></li>
					<li class="nav-item"><a class="nav-link" href="#footer"><i
							class="fas fa-info-circle me-1"></i> Acerca De</a></li>
					<li class="nav-item"><a class="nav-link" href="#noticias"><i
							class="fas fa-newspaper me-1"></i> Noticias</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> <i
							class="fas fa-graduation-cap me-1"></i> Académico
					</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" data-th-href="@{/carrera}"><i
									class="fas fa-book-open me-1"></i> Carreras</a></li>
							<li><a class="dropdown-item" data-th-href="@{/alumno}"><i
									class="fas fa-user-graduate me-1"></i> Alumnos</a></li>
							<li><a class="dropdown-item" data-th-href="@{/docente}"><i
									class="fas fa-chalkboard-teacher me-1"></i> Docentes</a></li>
							<li><a class="dropdown-item" data-th-href="@{/materia}"><i
									class="fas fa-book me-1"></i> Materias</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link"
						href="https://www.fi.unju.edu.ar/servicios/telefonos.html"><i
							class="fas fa-phone me-1"></i> Contactos</a></li>
				</ul>
			</div>
		</div>
		</nav>
		</div>
	</header>

	<script type="text/javascript"
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
