<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layouts/header :: head}"></head>
<body>
   <header th:replace="~{/layouts/header :: header}"></header>
   <main class="container my-2">
       <div class="row justify-content-center">
           <div class="col-md-8 col-lg-6">
               <div class="card shadow-sm">
                   <div class="card-body">
                       <h2 class="text-center display-6 mb-4">Listado de Alumnos Inscriptos</h2>
                       <div class="mt-5" th:if="${#lists.isEmpty(alumnos)}">
                           <h2 class="h4 mb-3 fw-normal text-center">No hay Alumnos Inscriptos.</h2>
                       </div>
                       <div th:unless="${#lists.isEmpty(alumnos)}">
                           <h2 class="h4 mb-3 fw-normal text-center">Resultados</h2>
                           <table class="table table-striped">
                               <thead>
                                   <tr>
                                       <th scope="col">DNI</th>
                                       <th scope="col">Nombre</th>
                                       <th scope="col">Apellido</th>
                                       <th scope="col">Carrera</th>
                                   </tr>
                               </thead>
                               <tbody id="resultsTable">
                                   <tr th:each="alumno : ${alumnos}">
                                       <td th:text="${alumno.dni}"></td>
                                       <td th:text="${alumno.nombre}"></td>
                                       <td th:text="${alumno.apellido}"></td>
                                       <td th:text="${alumno.carrera.nombre}"></td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </main>
   <footer th:replace="~{/layouts/footer :: footer}"></footer>
   <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>
