<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<main class="container my-2">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-sm">
					<div class="card-body">
						<h2 class="text-center display-6 mb-4">Filtrar Alumnos por Materia</h2>
						<form class="needs-validation" th:action="@{/filtro/alumnos}" method="post" id="filterForm"
							novalidate>
							<div class="mb-3">
								<label for="floatingMateria" class="form-label"> <i class="fas fa-book me-1"></i>
									Materia</label>
								<select class="form-select" id="floatingMateria" name="materia"
									aria-label="Seleccionar Materia">
									<option value="">Selecciona una materia</option>
									<option th:each="materia : ${materias}" th:value="${materia.id}"
										th:text="${materia.nombre}"></option>
								</select>
							</div>
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<div>
									<button class="btn btn-primary me-2" type="submit">
										<i class="fas fa-filter me-1"></i> Filtrar Alumnos
									</button>
								</div>
								<div>
									<a class="btn btn-secondary" href="/alumno/listado">
										Cancelar
									</a>
								</div>
							</div>
						</form>
						<div class="mt-5" th:if="${alumnos != null}">
							<h2 class="h4 mb-3 fw-normal text-center">Resultados</h2>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">DNI</th>
										<th scope="col">Nombre</th>
										<th scope="col">Apellido</th>
										<th scope="col">Carrera</th>
									</tr>
								</thead>
								<tbody id="resultsTable">
									<tr th:each="alumno : ${alumnos}">
										<td th:text="${alumno.dni}"></td>
										<td th:text="${alumno.nombre}"></td>
										<td th:text="${alumno.apellido}"></td>
										<td th:text="${alumno.carrera.nombre}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block">
				<aside th:replace="~{/layouts/aside :: publicidad}"></aside>
			</div>
		</div>
	</main>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>

</html>