<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>

	<main class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-8 col-lg-6">
				<div class="card shadow-sm">
					<div class="card-body">
						<h2 class="text-center display-6 mb-4">Inscripción a Materia</h2>

						<form class="needs-validation" th:action="@{/registro/inscribir}" method="post" novalidate>
							<div class="mb-3">
								<label for="alumno" class="form-label"> <i class="fas fa-user me-1"></i> Alumno</label>
								<select class="form-select" id="alumno" name="alumno" aria-label="Seleccionar Alumno"
									required>
									<option selected disabled>Selecciona un alumno</option>
									<option th:each="a : ${alumnos}" th:value="${a.id}"
										th:text="${a.nombre} + ' ' + ${a.apellido}"></option>
								</select>
							</div>
							<div class=" gap-2 d-flex justify-content-end">
								<button class="btn btn-primary" type="submit">
									<i class="fas fa-clipboard-check me-1"></i> Inscribir
								</button>
								<a th:href="@{/materia/listado}" class="btn btn-secondary ms-2">
									<i class="fas fa-times me-1"></i> Cancelar
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-none d-md-block">
				<aside th:replace="~{/layouts/aside :: publicidad2}"></aside>
			</div>
		</div>
	</main>

	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>

</html>