<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<h2 class="text-center m-4">Listado de Alumnos</h2>
	<table class="table container mt-5 bg-dark">
		<thead>
			<tr>
				<th scope="col">LU</th>
				<th scope="col">Nombre y Apellido</th>
				<th scope="col">DNI</th>
				<th scope="col">Email</th>
				<th scope="col">Telefono</th>
				<th scope="col">Fecha de Nacimiento</th>
				<th scope="col">Domicilio</th>
			</tr>
		</thead>
		<tbody data-th-each="alumno: ${alumnos}">
			<tr>
				<th scope="row" data-th-text="${alumno.LU}"></th>
				<td data-th-text="${alumno.nombre}+'  '+${alumno.apellido}"></td>
				<td data-th-text="${alumno.dni}"></td>
				<td data-th-text="${alumno.email}"></td>
				<td data-th-text="${alumno.telefono}"></td>
				<td data-th-text="${alumno.fechaNacimiento}"></td>
				<td data-th-text="${alumno.domicilio}"></td>
			</tr>
		</tbody>
	</table>

	<div class="container-fluid d-flex row p-5">
		<div class="card m-3 bg-primary" data-th-each="alumno: ${alumnos}"
			style="width: 18rem;">
			<div class="card-body text-white">
				<h5 class="card-title mb-2 " data-th-text="${alumno.dni}"></h5>
				<h5 class="card-title" data-th-text="${alumno.nombre}"></h5>
				<p class="card-title" data-th-text="${alumno.apellido}"></p>
				<p class="card-title" data-th-text="${alumno.email}"></p>
				<p class="card-title" data-th-text="${alumno.telefono}"></p>
				<p class="card-title" data-th-text="${alumno.fechaNacimiento}"></p>
				<p class="card-title" data-th-text="${alumno.domicilio}"></p>
				<p class="card-title" data-th-text="${alumno.LU}"></p>
			</div>
		</div>
	</div>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</body>
</html>