<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<h2 class="text-center m-4">Listado de Alumnos</h2>
	<div class="text-center"><a data-th-href="@{/alumno/nuevo}" class="card-button btn btn-success mt-4" role="button">Agregar alumno</a></div>
	<table class="table container mt-5 ">
		<thead>
			<tr>
				<th scope="col">LU</th>
				<th scope="col">Nombre y Apellido</th>
				<th scope="col">DNI</th>
				<th scope="col">Email</th>
				<th scope="col">Telefono</th>
				<th scope="col">Fecha de Nacimiento</th>
				<th scope="col">Domicilio</th>
			</tr>
		</thead>
		<tbody data-th-each="alumno: ${alumnos}">
			<tr>
				<th scope="row" data-th-text="${alumno.LU}"></th>
				<td data-th-text="${alumno.nombre}+'  '+${alumno.apellido}"></td>
				<td data-th-text="${alumno.dni}"></td>
				<td data-th-text="${alumno.email}"></td>
				<td data-th-text="${alumno.telefono}"></td>
				<td data-th-text="${alumno.fechaNacimiento}"></td>
				<td data-th-text="${alumno.domicilio}"></td>
				<td><a class="card-button btn btn-danger"  role="button" data-th-href="@{/alumno/eliminar/{LU}(LU=${alumno.LU})}">Eliminar</a><a class="card-button btn btn-secondary" data-th-href="@{/alumno/modificar/{LU}(LU=${alumno.LU})}">Editar</a></td>
			</tr>
		</tbody>
	</table>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</body>
</html>