<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
		<div class="text-center">
			<h2 class="text-center m-5">Listado De Carreras</h2>
		</div>
		<div class="container card align-items-center col-9 my-5 mb-5">
			<a data-th-href="@{/carrera/nuevo}" class="card-button btn btn-success mt-4" role="button">Añadir nueva carrera</a>
			<div class="container d-flex row card-body justify-content-between">
        		<div class="card bg-gradient-success-danger m-3" data-th-each="carrera: ${carreras}" style="width: 18rem;">
            		<div class="card-body text-white mb-2">
                		<h5 class="card-title text-end" data-th-text="${carrera.codigo}"></h5>
                		<h5 class="card-title text-center" data-th-text="${carrera.nombre}"></h5>
                		<p class="card-title" data-th-text="'Duración: ' +${carrera.cantidadAnios}+ ' años'"></p>
                		<p class="card-title" data-th-text="'Estado: '+${carrera.estado}"></p>
                		<a class="card-button btn btn-danger" data-th-href="@{/carrera/eliminar/{codigo}(codigo=${carrera.codigo})}" role="button">Eliminar</a> <a data-th-href="@{/carrera/modificar/{codigo}(codigo=${carrera.codigo})}" class="card-button btn btn-secondary">Editar</a>
            		</div>
        		</div>
    		</div>
		</div>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</body>
</html>