<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}">
</head>
<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<main>
		<div class="container my-5 col-xl-8 col-xxl-8">
			<div class="card">
				<div class="card-body p-xl-5">
					<div class="text-center mt-5">
						<i class="fa-solid fa-chalkboard-teacher fa-2xl"
							style="color: #007bff;"></i>
					</div>
					<h2 class="text-center display-6 mb-4">Listado De Docentes</h2>
					<div class="text-center mb-4">
						<a data-th-href="@{/docente/nuevo}" class="btn btn-primary mt-4"
							role="button"> <i class="fas fa-plus"></i> Añadir Nuevo
							Docente
						</a>
					</div>
					<div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
						<div th:each="docente : ${docentes}" class="col">
							<div class="card h-100">
								<div class="card-body">
									<div class="text-center mt-5 mb-4">
										<i class="fa-solid fa-chalkboard-teacher fa-2xl"
											style="color: #007bff;"></i>
									</div>
									<h5 class="card-title"
										th:text="${docente.legajo} + ': ' + ${docente.nombre} + ' ' + ${docente.apellido}"></h5>
									<ul class="list-group list-group-flush">
										<li class="list-group-item"><strong>Email:</strong> <span
											th:text="${docente.email}"></span></li>
										<li class="list-group-item"><strong>Teléfono:</strong> <span
											th:text="${docente.telefono}"></span></li>
									</ul>
									<div class="d-flex justify-content-center mt-3">
										<a
											th:href="@{/docente/modificar/{legajo}(legajo=${docente.legajo})}"
											class="btn btn-sm btn-outline-secondary me-2"> <i
											class="fas fa-edit"></i> Modificar
										</a> <a
											th:href="@{/docente/eliminar/{legajo}(legajo=${docente.legajo})}"
											class="btn btn-sm btn-outline-danger"> <i
											class="fas fa-trash"></i> Eliminar
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h2 class="text-center display-6 mt-5 mb-4">Nuevo Docente</h2>
					<div class="text-center">
						<a th:href="@{/docente/nuevo}" class="btn btn-primary"> <i
							class="fas fa-plus"></i> Agregar Nuevo Docente
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</body>
</html>
