<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}">
</head>

<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<main>
		<div class="container my-5 col-xl-8 col-xxl-8">
			<div class="card">
				<div class="card-body p-xl-5">
					<div class="text-center mt-5">
						<i class="fa-solid fa-book-open fa-2xl" style="color: #007bff;"></i>
					</div>
					<h2 class="text-center display-6 mb-4">Listado De Materias</h2>
					<div class="text-center mb-4">
						<a data-th-href="@{/materia/nuevo}" class="btn btn-primary mt-4" role="button"> <i
								class="fas fa-plus"></i> Añadir nueva
							materia
						</a>
					</div>
					<div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
						<div th:each="materia : ${materias}" class="col">
							<div class="card h-100 bg-primary text-white border-white">
								<div class="text-end mt-4 mb-1 pe-3">
									<i class="fa-solid fa-book fa-2xl " style="color: #ffff;"></i>
								</div>
								<div class="card-body">
									<h5 class="card-title text-end" th:text="${materia.codigo}"></h5>
									<h5 class="card-title display-6" th:text="${materia.nombre}"></h5>
									<p class="card-title" th:text="${materia.curso} + '° Año'"></p>
									<p class="card-title"
										th:text="'Carga Horaria Semanal: ' + ${materia.cantidadHoras} + ' Horas'"></p>
									<p class="card-text">
										Modalidad: <span th:text="${materia.modalidad}"></span><br>
										Docente a cargo: <br> <strong><span
												th:text="${materia.docente.nombre} + ' ' + ${materia.docente.apellido}"></span></strong><br>
										Carrera: <strong><span th:text="${materia.carrera.nombre}"></span></strong>
									</p>
									<div class="d-flex justify-content-center mt-3">
										<a th:href="@{/materia/eliminar/{codigo}(codigo=${materia.codigo})}"
											class="btn btn-sm btn-danger me-2"> <i class="fas fa-trash"></i> Eliminar
										</a> <a th:href="@{/materia/modificar/{codigo}(codigo=${materia.codigo})}"
											class="btn btn-sm btn-secondary"> <i class="fas fa-edit"></i>
											Editar
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h2 class="text-center display-6 mt-5 mb-4">Nueva Materia</h2>
					<div class="text-center">
						<a th:href="@{/materia/nuevo}" class="btn btn-primary"> <i class="fas fa-plus"></i> Agregar
							Nueva Materia
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
</body>

</html>